@import 'styles/main.scss';

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange;
  font-size: rem(16px);
  font-weight: 700;
  text-decoration: none;
  color: $white;
  border-radius: 10px;
  column-gap: $spacing-standard;
  flex-grow: 100;
  border: 2px solid transparent;
  transition: border-color $transition-duration-standard ease,
    background-color $transition-duration-standard ease,
    color $transition-duration-standard ease;

  svg path {
    transition: fill $transition-duration-standard ease;
  }

  &:focus,
  &:hover {
    background-color: $white;
    color: $orange;
    border-color: $orange;

    & > svg path {
      fill: $orange;
    }
  }
}

.small {
  max-width: 127px;
  padding: 2px 0;
}
