@font-face {
  font-family: 'roboto';
  src: local('roboto'), url('/fonts/roboto-regular.ttf');
  src: url('/fonts/roboto-regular.ttf') format('truetype'),
    url('/fonts/roboto-regular.woff') format('woff'),
    url('/fonts/roboto-regular.woff2') format('woff2');
}

@mixin roboto() {
  font-family: roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

@mixin arial() {
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

@mixin h1() {
  @include arial;

  margin: 0;
  color: $brand;
  font-size: rem(32px);
  font-weight: 700;
  line-height: (45/32);
}

@mixin h2() {
  @include arial;

  margin: 0;
  color: $gray;
  font-size: rem(14px);
  font-weight: 700;
  line-height: (20/14);
  text-transform: uppercase;
}

@mixin h3() {
  @include arial;

  margin: 0;
  color: $brand;
  font-size: rem(40px);
  font-weight: 600;
  line-height: (40/40);
}

@mixin body() {
  @include arial;

  color: $gray;
  font-size: rem(16px);
  font-weight: 400;
  line-height: (28/16);
}
