// Colors
$brand: #263640;
$white: #ffffff;
$black: #000000;
$gray: #929a9f;
$lightgray: #c4c4c4;
$offwhite: #f5f8fa;
$orange: #ff9902;

// Spacing
$spacing-largest: 160px;
$spacing-xxx-large: 100px;
$spacing-xx-large: 90px;
$spacing-x-large: 60px;
$spacing-large: 40px;
$spacing-semi: 30px;
$spacing-standard: 24px;
$spacing-small: 16px;
$spacing-tiny: 8px;
$spacing-micro: 4px;

// Miscellaneous
$base-font-size: $spacing-small;
$container-width: 1216px;
$container-padding-desktop: $spacing-x-large;
$container-padding-mobile: $spacing-standard;
$grid-gutter-width: $spacing-semi;
$grid-margin-height: $spacing-semi;
$transition-duration-standard: 0.25s;

// Convert pixels to rem
@function rem($pixelSize) {
  $remSize: $pixelSize / $base-font-size;

  @return #{$remSize}rem;
}
